/* Header/Navbar Styles */
#scrape {
    height: 50px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: 0px;
}
.jumbotron {
    color: black;
    background-color: #00A5DA;
}
.navbar {
    background-color: #89D6FF;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-nav>.active>a {
    color: white;
    background-color: #246F97;
}

/* Scrape Modal */
iframe {
    display: none;
}
#scrapeModal .modal-header, #scrapeModal .modal-body, #scrapeModal .modal-footer {
    background-color: lavender;
}

/* Notes Modal */
#noteTitle, #noteBody {
    width: 100%;
    border: 2px solid black;
    margin: 5px;
}

/* Body Panels */