/* Header/Navbar Styles */
#scrape {
    height: 50px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: 0px;
}

/* Scrape Modal */
iframe {
    display: none;
}
#scrapeModal .modal-header, #scrapeModal .modal-body, #scrapeModal .modal-footer {
    background-color: lavender;
}

/* Notes Modal */
#noteTitle, #noteBody {
    width: 100%;
    border: 2px solid black;
    margin: 5px;
}